@media screen and (min-width: 1500px) and (max-width: 3000px){

    #first_page{
        height:150vh;
    }
    .second_photo{
        justify-content:flex-start;
    }
    #second_page{
        height:135vh;
    }
    .text_third_page h2{
        width:90%;
    }
    .services h3{
        margin: 20px 0 20px 0;
    }
}