@media screen and (min-width: 1500px) and (max-width: 3000px){

    #first_page{
        height:150vh;
    }
    .second_photo{
        justify-content:flex-start;
    }
    #second_page{
        height:135vh;
    }
    .text_third_page h2{
        width:90%;
    }
    .services h3{
        margin: 20px 0 20px 0;
    }
    #third_page{
        height:120vh;
    }
    #fourth_page{
        height:120vh;
    }
    .fourth_container h2{
        margin-bottom:160px;
    }
    #fourth_container{
        justify-content: space-between;
        align-items: center;
    }
    #fifth_page{
        height:80vh;
    }
    #fifth_container{
        width:90vw;
    }
    #fifth_container h2{
        width:30%;
    }
}